body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-image: url("https://wallpapercave.com/wp/T0Mw3xx.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 32px;
    font-weight: bolder;
}

.blockGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}


.block {
    width: 100px;
    height: 100px;
    border: 2px solid #FFF365;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 40px;
    font-weight: bold;

    flex-shrink: 0;
    gap: 4px;
}

.block .subText {
    font-size: 13px;
}


.blockPressed {
    
    
    transform: scale(1.1);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
   
}
.triangle#up{
    border-bottom: 20px solid #FFF365;
}
.triangle#down{
    border-top: 20px solid #FFF365;
}

.keySelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}